html, body { height: 100% }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #000000;
}

canvas {
  position: absolute;
  left: 0;
  bottom: 0;
  object-fit: contain;
  width: 100%;
  transform: scaleY(-1);
}