html {
  height: 100%;
}

body {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

canvas {
  position: absolute;
  left: 0;
  bottom: 0;
  object-fit: contain;
  width: 100%;
  transform: scaleY(-1);
  filter: hue-rotate(335deg);
  -webkit-filter: hue-rotate(335deg);
}

#info {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px;
  color: #cccccc;
  font-family: 'Courier New', Courier, monospace;
  font-size: 80%;
}

#range-container {
  display: flex;
  align-items: center;
}
